@import '@folio/stripes-components/lib/variables.css';

.facetSearchContainer {
  max-height: 15.2rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.facetSearchContainer span[class^="labelText"] {
  flex: 1;
}

.facetSearch {
  padding-top: var(--gutter-static-one-third);
}

.moreIcon {
  font-size: var(--font-size-x-small);
  margin-right: var(--gutter-static-one-third);
}

.label {
  flex: 3;
}

.labelInfo {
  flex: 1;
  margin-left: var(--gutter-static-one-third);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
}
